:root{

}
body{
    background-color: hsl(166,85%,18%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.to__do-list{
<<<<<<< HEAD
    display: grid;
    width: 600px;
    height: auto;
=======
    /* display: grid; */
    position: relative;
    width: 450px;
    height: 98%;
>>>>>>> aead6c0 (changed some js and css)
    border-radius: 10px;
    background-color: hsl(166,80%,40%);
    row-gap: 1rem;
    justify-items: center;
    align-items: center;
}

.task__inputs{
    position: relative;
    display: grid;
    row-gap: 1rem;
}

#add-button{
    bottom: 1.5rem;
    right: 1rem;
}

.container{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h1{
    text-align: center;
}

.input__container{
    display: flex;
    gap: 10px;
}

li{
    display: flex;
    column-gap: 9px;
    left: 1rem;
    align-items: center;
    justify-content: center;

}

input{
    flex: 1;
    padding: 8px;
}

button{
    width: 57px;
    padding: 4px;
    background-color:green ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.button1,.button2{
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: whitesmoke;
}

/* #task-list{
    position: relative;
    list-style: none;
    padding: 2rem;
    margin: 1rem 0;
    display: grid;
    row-gap: 7px;
    justify-content: space-between;
    align-items: center;
} */

.tasks__container{
<<<<<<< HEAD
    position: relative;
    width: 400px;
=======
    position: absolute;
    width: 336px;
>>>>>>> aead6c0 (changed some js and css)
    border-radius: 7px;
    background-color: hsl(0,100%,99%);
    height: 65%;
    top: 180px;
    left: 13%;
    display: flex;
    overflow-y: scroll ;
    flex-direction: column;
}
.contents{
    display: flex;
    margin: 6px;
}
.text{
    margin-right: auto;
}
.button1,.button2{
    margin-left: 10px;
}

.completed{
    text-decoration: line-through;
    color: grey;
}
.fa-trash {
    color: red;
    font-size: 20px;
    cursor: pointer;
  }
  
  .fa-pen {
    color: blue;
    font-size: 20px;
    cursor: pointer;
  }
  